<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>情報</title>
</head>
<body>
<h1>情報</h1>
<form th:action="@{/update}" th:object="${personForm}" method="post">
	<!-- *は変数のこと -->
	<input type="hidden" th:field="*{id}">
	<p>名前：<input type="text" th:field="*{Name}"></p>
	<p>年齢：<input type="text" th:field="*{Age}"></p>
	<input type="submit" value="更新"/>
	<!-- getの渡し方 -->
	<p><a th:href="@{/delete(id=*{id})}">削除する</a></p>
</form>
<p><a href="http://localhost:8084/index">前の画面に戻る</a></p>
</body>
</html>